syntax: glob

# Ignore gradle files
.gradle/
.nb-gradle/*

# Ignore .jpg and .pdf under the src directory since they are produced via umlet
# Images handled by conf management should use other suffix (.png for example)
src/**/*.jpg
src/**/*.pdf
dev/material/*.jpg

.gitignore
*.exe
*.log
*.mf
build/*
dist/*
config/run.properties
data/benches
data/print/*
data/scores/*
data/scripts/*
data/temp/*
data/train/core/*
data/www/docs/api
private/*
resources/*
target/*
\.orig\..*$
\.orig$
\.chg\..*$
\.rej$
\.conflict\~$

# Ignore system files
.DS_Store
Thumb.db
